<launch>
  <master auto="start"/>
  <arg name="map" value="map2021616_P"/>
  <param name="/use_sim_time" value="false"/>
  <!--Load parameters for localization node  -->
  <rosparam command="load" file="$(find roborts_localization)/config/localization.yaml" />
  <rosparam command="load" file="$(find roborts_localization)/amcl/config/amcl.yaml" />
    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_nav)/maps/$(arg map).yaml" output="screen">
    <param name="frame_id" value="map" />
    </node>

    <include file="$(find ucar_controller)/launch/base_driver.launch" > </include>
    <include file="$(find lidar_undistortion)/launch/lidar_undistortion_online.launch" > </include>
    <include file ="$(find robot_pose_ekf)/robot_pose_ekf.launch"/>
    <node pkg="ucar_controller" type ="sensor_tf_server.py" name = "sensor_tf"/>

    <!-- 运行amcl节点 -->
    <include file="$(find ucar_nav)/launch/amcl.launch"/>

<!-- Run the global planner node -->
  <node pkg="roborts_planning" type="global_planner_node" name="global_planner_node" respawn="false" />

  <!-- Run the local planner node -->
  <node pkg="roborts_planning" type="local_planner_node" name="local_planner_node" respawn="false" />

  <node pkg="roborts_planning" type="vel_converter" name="vel_converter_node" respawn="false" />
  
 <node pkg="roborts_decision" type="sel_behavior_node" name="sel_behavior_node" respawn="false" output="screen"/>
</launch>






